<div class="p4 mb-3 rounded">
    <h4 class="fst-italic">Catégories</h4>
    <ol class="list-unstyled mb-0">
        <li>
            <a class="text-decoration-none" href="#">Ostéopathie</a>
        </li>
        <li>
            <a class="text-decoration-none" href="#">Soins énergétique</a>
        </li>
    </ol>

</div>